# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env
.env
.env*.local

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# typescript
*.tsbuildinfo
next-env.d.ts
